

<div class="modal inmodal" id="reporte" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false" ng-hide="hideModal">
    <div class="modal-dialog">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h6 class="modal-title">Imprimir Reporte Diario</h6>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Elige la fecha</label>
                                <select ng-model="MTipoC" class="form-control" style="font-size:x-small" ng-change="changeTipo(MTipoC)">

                                    <option value="No">No</option>
                                    <option value="">Si</option>

                                </select>
                                @*<i class="pull-right text-danger" ng-hide="hidePeriodoC">{{ mensajePeriodoC}}</i>*@
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" style="background-color:#0000FF;border-color:#0000FF;color:#FFFFFF" ng-click="validate()"><i class="fa fa-print"></i> Imprimir PDF</button>
                <button type="button" style="background-color:#FF0000;border-color:#FF0000;color:#FFFFFF" class="btn btn-warning" data-dismiss="modal" id="cancelar" ng-click="cancelar()"><i class="fa fa-close"></i> Cancelar</button>
            </div>
        </div>
    </div>
</div>
