@{
    ViewBag.Title = "Home Page";
}

<script>
    app = angular.module("HomeApp",[]);
    app.controller("HomeController", function ($scope, $http) {

        $scope.cargarInicio = function () {
            $http.get('/Home/ListarMenu')
                .then(function (response) {

                    $scope.listaMenu = response.data;
                    console.log($scope.listaMenu);
                    $scope.Mventa_id_plato = "";
                    $scope.Mventa_cantidad_plato = 1;  
                    
                });
        }

        $scope.clickGuardarNuevo = function (valor) {

                $scope.plato = {};
                $scope.plato.nombre_plato = $scope.Mnombre_nuevo_plato;
                $scope.plato.cantidad_plato = $scope.Mcantidad_nuevo;

                $http({
                    method: "post",
                    url: "/Menu/insertarPlato",
                    datatype: "json",
                    data: JSON.stringify($scope.plato)
                }).then(function (response) {
                    $scope.mensaje = response.data;

                    swal($scope.mensaje, "Registro de Platos", "success");
                    //$scope.clickCancelar();
                    $scope.cargarInicio();
                    $scope.MhideModalNuevo=true;
                });

        }

        $scope.seleccionarPlato = function (id_plato) {

            $http.get('/Menu/getPlato', { params: { id_plato: id_plato } })
                .then(function (response) {

                    $scope.plato = response.data;
                    $scope.Mid_plato = response.data[0].id_plato;
                    $scope.Mnombre_editar_plato = response.data[0].nombre_plato;
                    $scope.Mcantidad_editar_plato = response.data[0].cantidad_plato;
                    console.log($scope.plato);

                });

        }

        $scope.editarPlato = function (id_plato) {
            $scope.plato = {};
            $scope.plato.id_plato = $scope.Mid_plato;
            $scope.plato.nombre_plato = $scope.Mnombre_editar_plato;
            $scope.plato.cantidad_plato = $scope.Mcantidad_editar_plato;
            $http({
                method: "post",
                url: "/Menu/editarPlato",
                datatype: "json",
                data: JSON.stringify($scope.plato)
            }).then(function (response) {
                $scope.mensaje = response.data;
                
                swal($scope.mensaje, "Registro de Platos", "success");
                //$scope.clickCancelar();
                $scope.cargarInicio();
            });
        }

        $scope.eliminarPlato = function (id_plato, nombre_plato) {

            swal({
                title: "¿Estás seguro?",
                text: "Una vez eliminado, no podrá recuperar el plato",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {

                        $http({
                            method: "post",
                            url: "/Menu/eliminarPlato",
                            datatype: "json",
                            params: { id_plato: id_plato, nombre_plato: nombre_plato }
                        }).then(function (response) {
                            $scope.mensaje = response.data;
                            $scope.cargarInicio();

                            swal($scope.mensaje, "Plato Eliminado", "success");


                        });


                    } else {
                        swal("No se eliminó el Plato", {
                            icon: "error",
                        });
                    }
                });

        }

        //Proceso de Ventas
        $scope.clickGuardarVenta = function () {

            $scope.venta = {};
            $scope.venta.id_plato = $scope.Mventa_id_plato;
            $scope.venta.cantidad_plato = $scope.Mventa_cantidad_plato;

            $http({
                method: "post",
                url: "/Venta/insertarVenta",
                datatype: "json",
                data: JSON.stringify($scope.venta)
            }).then(function (response) {
                $scope.mensaje = response.data;

                swal($scope.mensaje, "Registro de Ventas", "success");
                //$scope.clickCancelar();
               
                $scope.cargarInicio();
            });

        }

    });
</script>

<style type="text/css">
    /*    body {
        color: #566787;
        background: #f5f5f5;
        font-family: 'Varela Round', sans-serif;
        font-size: 13px;
    }*/


    .file-upload {
        width: 100%;
        margin: 0 auto;
    }

    .file-upload-btn {
        width: 100%;
        margin: 0;
        color: #fff;
        background: #1FB264;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #15824B;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
    }

        .file-upload-btn:hover {
            background: #1AA059;
            color: #ffffff;
            transition: all .2s ease;
            cursor: pointer;
        }

        .file-upload-btn:active {
            border: 0;
            transition: all .2s ease;
        }

    .file-upload-content {
        display: none;
        text-align: center;
    }

    .file-upload-input {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        outline: none;
        opacity: 0;
        cursor: pointer;
    }

    .image-upload-wrap {
        margin-top: 20px;
        border: 4px dashed #1FB264;
        position: relative;
    }

        .image-dropping,
        .image-upload-wrap:hover {
            background-color: #1FB264;
            border: 4px dashed #ffffff;
        }

    .image-title-wrap {
        padding: 0 15px 15px 15px;
        color: #222;
    }

    .drag-text {
        text-align: center;
    }

        .drag-text h3 {
            font-weight: 100;
            text-transform: uppercase;
            color: #15824B;
            padding: 60px 0;
        }

    .file-upload-image {
        height: 100%;
        width: 100%;
        margin: auto;
        padding: 5px;
    }

    .remove-image {
        width: 200px;
        margin: 0;
        color: #fff;
        background: #cd4535;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #b02818;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
    }


    .table {
        overflow-x: auto;
    }

    .table-wrapper {
        background: #fff;
        padding: 20px 25px;
        margin: 0px 0;
        border-radius: 3px;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }

    .table-title {
        padding-bottom: 15px;
        background: #1ab394;
        color: #fff;
        padding: 16px 30px;
        margin: -20px -25px 10px;
        border-radius: 3px 3px 0 0;
    }

    .ibox-title {
        background: #1ab394;
        color: #fff;
        padding: 16px 20px 15px;
        margin: -20px 0px 0px;
        border-radius: 3px 3px 0 0;
    }

        .ibox-title h2 {
            margin: 5px 0 0;
            font-size: 21px;
        }

    table {
        width: 100%;
    }

    .table-container {
        overflow-x: auto;
    }

    .table-title h2 {
        margin: 5px 0 0;
        font-size: 24px;
    }

    .table-title .btn {
        color: #566787;
        float: right;
        font-size: 13px;
        background: #fff;
        border: none;
        min-width: 50px;
        border-radius: 2px;
        border: none;
        outline: none !important;
        margin-left: 10px;
    }

        .table-title .btn:hover, .table-title .btn:focus {
            color: #566787;
            background: #f2f2f2;
        }

        .table-title .btn i {
            float: left;
            font-size: 21px;
            margin-right: 5px;
        }

        .table-title .btn span {
            float: left;
            margin-top: 2px;
        }

    table.table tr th, table.table tr td {
        border-color: #e9e9e9;
        padding: 12px 15px;
        vertical-align: middle;
    }

        table.table tr th:first-child {
            width: 60px;
        }

        table.table tr th:last-child {
            width: 100px;
        }

    table.table-striped tbody tr:nth-of-type(odd) {
        background-color: #fcfcfc;
    }

    table.table-striped.table-hover tbody tr:hover {
        background: #f5f5f5;
    }

    table.table th i {
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
    }

    table.table td:last-child i {
        opacity: 0.9;
        font-size: 22px;
        margin: 0 5px;
    }

    table.table td a {
        font-weight: bold;
        color: #566787;
        display: inline-block;
        text-decoration: none;
    }

        table.table td a:hover {
            color: #2196F3;
        }

        table.table td a.settings {
            color: #2196F3;
        }

        table.table td a.delete {
            color: #F44336;
        }

    table.table td i {
        font-size: 19px;
    }

    table.table .avatar {
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 10px;
        max-width: 50px;
        max-height: 50px;
    }

    .img-thumbnail {
        vertical-align: middle;
        max-width: 100px;
        max-height: 100px;
    }

    .status {
        font-size: 30px;
        margin: 2px 2px 0 0;
        display: inline-block;
        vertical-align: middle;
        line-height: 10px;
    }

    .text-success {
        color: #10c469;
    }

    .text-info {
        color: #62c9e8;
    }

    .text-warning {
        color: #FFC107;
    }

    .text-danger {
        color: #ff5b5b;
    }

    .pagination {
        float: right;
        margin: 0 0 5px;
    }

        .pagination li a {
            border: none;
            font-size: 13px;
            min-width: 30px;
            min-height: 30px;
            color: #999;
            margin: 0 2px;
            line-height: 30px;
            border-radius: 2px !important;
            text-align: center;
            padding: 0 6px;
        }

            .pagination li a:hover {
                color: #666;
            }

        .pagination li.active a, .pagination li.active a.page-link {
            background: #03A9F4;
        }

            .pagination li.active a:hover {
                background: #0397d6;
            }

        .pagination li.disabled i {
            color: #ccc;
        }

        .pagination li i {
            font-size: 16px;
            padding-top: 6px
        }

    .hint-text {
        float: left;
        margin-top: 10px;
        font-size: 13px;
    }
</style>

<div ng-app="HomeApp" ng-controller="HomeController" ng-init="cargarInicio()" ng-cloak>
    <div class="row">
        <div class="col-lg-12">


            <div class="ibox">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-5">
                                <h2>Gustov <b>/ Platos Bolivianos</b></h2>
                            </div>
                            <div class="col-sm-7">
                                <button id="btnAbrirModal" class="btn btn-primary" style="background-color:#FDFEFE;color:#222" data-toggle="modal" data-target="#reporte"><i class="fa fa-print"></i> Reporte Diario</button>
                                <button id="btnNuevo" class="btn btn-primary" style="background-color:#FDFEFE;color:#222" data-toggle="modal" data-target="#nuevo"><i class="fa fa-print"></i> Nuevo plato</button>
                                @*<a style="background-color:#fff;" ng-click="clickAgregar()" class="btn btn-primary"><i class="fa fa-plus-square"></i> <span>Agregar nuevo plato</span></a>*@


                                @*<a href="#" class="btn btn-primary"><i class="material-icons">&#xE24D;</i> <span>Export to Excel</span></a>*@
                            </div>
                        </div>
                    </div>

                    <div class="table-wrapper">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>
                                    Menú
                                </h3>
                                <div class="col-md-12">
                                    <table class="table table-striped table-hover">
                                        <thead style="background-color:#1c8f94;border-color:#1c8f94;color:#FDFEFE">
                                            <tr>
                                                <th>Nro </th>
                                                <th>Plato</th>
                                                <th>Cantidad</th>
                                                <th>Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="l in listaMenu">
                                                <td>{{$index + 1}}</td>
                                                <td>{{l.nombre_plato}}</td>
                                                <td>{{l.cantidad_plato}}</td>
                                                <td style="cursor: pointer;">
                                                    <a ng-click="seleccionarPlato(l.id_plato)" class="settings" title="Editar plato" data-toggle="modal" data-target="#editar"><i class="fa fa-edit" style="color: #1c84c6"></i></a>
                                                    <a ng-click="eliminarPlato(l.id_plato, l.nombre_plato)" class="delete" title="Eliminar plato" data-toggle="tooltip"><i class="fa fa-user-times"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3>
                                    Nueva venta
                                </h3>
                                <div class="col-md-12">
                                    <ng-form name="myForm" novalidate>
                                        <div class="form-group">

                                            <label for="nombre">
                                                Nombre
                                            </label>
                                            <select name="id_plato" ng-model="Mventa_id_plato" class="form-control" ng-options="lc.id_plato as lc.nombre_plato for lc in listaMenu" required>
                                                <option value="" selected disabled hidden>Elige una opción</option>
                                                <option value="">{{listaMenu.idPlato}}</option>

                                            </select>
                                        </div>
                                        <div class="form-group">

                                            <label for="exampleInputPassword1">
                                                Cantidad
                                            </label>
                                            <input type="number" min="1" name="cantidad_plato" class="form-control" ng-model="Mventa_cantidad_plato" placeholder="Cantidad de platos" required>
                                            <span style="color:red" ng-show="myForm.cantidad_plato.$dirty && myForm.cantidad_plato.$invalid">
                                                <span ng-show="myForm.cantidad_plato.$error.required"  ng-hide="Mventa_cantidad_plato_required">Cantidad mínima "1"</span>
                                            </span>
                                        </div>


                                        <button type="submit" ng-hide="MhideGuardar"
                                                ng-disabled="!myForm.$valid"
                                                class="btn btn-primary" ng-click="clickGuardarVenta()">
                                            <span class="glyphicon glyphicon-floppy-save"></span> Guardar
                                        </button>
                                    </ng-form>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_Nuevo")
    @Html.Partial("_Editar")
    @Html.Partial("_Reporte")

</div>
 